@charset "UTF-8";

body{
    color: white;
    background-image: url(../imagens/Captura\ de\ tela\ 2024-03-14\ 192037.png);
    background-repeat: no-repeat;
    background-size: cover;

}
section{
    top :35%;
    left :70%;
    transform: translate(-50%,50%);
    position: absolute;

}
section.imagem{
    background-image: url(../imagens/image-removebg-preview.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
}