@charset "UTF-8";

body{
    color: white;
    background-image: url(../imagens/Fundo_Restaurante.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
section{
    top :-5%;
    left :32%;
    transform: translate(-50%,50%);
    position: absolute;

}
section.imagem{
    background-image: url(../imagens/arroz_comidão.jpg);
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
}